{
    "modName": "{{project_name}}",
    "modShortName": "{{project_shortname}}",
    "modVersion": "0.0.1",
    "buildCode": "1",
    "game": "{{game}}",
    "gamePath": "{{game_path}}",
    "mo2Path": "{{mo2_path}}",
    "mo2InstanceName": "{{mo2_instance_name}}"
}