{
	"folders": 
	[
		{
			"path": "{{game_path}}/Data/{{papyrus_base_source_path}}"
		},
		{
			"path": "."
		},
		{
			"path": "{{my_games_path}}/{{my_games_subfolder}}/Logs"
		},
		{
			"path": "{{notebook_path}}/{{game}}/{{project_name}}"
		}
	],
	"settings": 
	{
		{{papyrus_extension_settings}}
	}
}