Scriptname {{project_shortname}}{{papyrus_namespace_separator}}Utility{{papyrus_namespace_separator}}ModInfo

Float Function GetModVersion() Global
    Return @MOD_VERSION@
EndFunction

Bool Function IsAchievementFriendly() Global
    Return @IS_AF@
EndFunction