[
    "Data\\Scripts\\{{project_shortname}}{{achlist_namespace_separator}}Utility{{achlist_namespace_separator}}ModInfo.pex",
    "Data\\Scripts\\{{project_shortname}}{{achlist_namespace_separator}}UpdateQuest{{achlist_namespace_separator}}UpdateQuestScript.pex",
    "Data\\Scripts\\{{project_shortname}}{{achlist_namespace_separator}}UpdateQuest{{achlist_namespace_separator}}PlayerAliasScript.pex"
]